/* Spacing */
// spacing scale
$spacer-0: 0;
$spacer-1: 1;
$spacer-2: 2;
$spacer-3: 3;
$spacer-4: 4;
$spacer-5: 5;
$spacer-6: 6;
// em-based spacing
$em-spacer-1: 1/16;
$em-spacer-2: 1/8;
$em-spacer-3: 1/4;
$em-spacer-4: 3/8;
$em-spacer-5: 1/2;
$em-spacer-6: 3/4;