.button{
    margin: 0 $margin;
    padding: $padding;
    border-width: $border-width;
    border-radius: $radius;
    letter-spacing: 0.04em;
    min-width: 60px;
}
.button-normal{
    @extend .button;
}
.button-text{
    background-color: $white !important;
    @extend .button;
}
.button-icon{
    border-width: 0;
    background-color: $white !important;
    @extend .button;
}
.button-primary{
    &:hover{
        background-color: $primary * 0.5;
    }
    border-color: $on-primary;
    background-color: $primary;
    color: $on-primary;
}
.button-secondary{
    &:hover{
        background-color: $secondary * 0.5;
    }
    border-color: $on-secondary;
    border-color: $secondary;
    background-color: $secondary;
}