/* Typography */
// font
$font-family: "Inter, sans-serif";
$small-font-size: 8px !default;
$font-size: 14px !default;
$font-weight: 1rem;
$line-height: 1rem;
$font-style: normal;
$font-weight-bolder: 12;
// text
$text-align: center;
$h1: 3rem !default;
$h2: 2rem !default;
$h3: 1.5rem !default;
$h4: 1.2rem !default;
$h5: 1rem !default;
$h6: 0.8rem !default;