/* Breakpoints */
@import './mixins';
@import './colorsystem';
@import './spacing';
@import './typography';

/****************************************************************/
/* Colors */
// backgroud color
$bg-light: $gray-000;
$bg: $gray-100;
$bg-dark: $gray-900;
// text color
$text-light: $gray-500;
$text: $gray-600;
$text-dark: $gray-900;
// component background color
$
// component font color

