@import './variables/colorsystem';
@import './variables/spacing';
@import './variables/typography';
@import './variables/shape';

/****************************************************************/
/* Colors */
// Screens and components
$primary: $gray-500 !default;
$primary-variant: $gray-700 !default;
// Floating action buttons, selection controls, like sliders and switches, highlighting selected text, progress bars, links and headlines
$secondary: $blue-gray-500 !default;
$secondary-variant: $blue-gray-700 !default;
// Surfaces of components, such as cards, sheets, and menus
$surface: $white;
// App background
$background: $white !default;
// Error
$error: $red-500 !default;
// Typography
$on-primary: $white !default;
$on-secondary: $white !default;
$on-background: $white !default;
$on-surface: $white !default;
$on-error: $black !default;